<div class="container">
    <input type="text" id="name" name="name" [(ngModel)]="user.name" required />
    <input type="email" id="email" [(ngModel)]="user.email" required/>
    <input type="date" id="dob" [(ngModel)]="user.dob" required/>
    <input [(ngModel)]="user.address" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
    <button (click)="onSaveClick()">Save</button>

</div>